version: "3.9"

services:
  app:
    build: .
    env_file:
      - .env.develop
    ports:
      - "7001:7001" # Cambia si tu app corre en otro puerto
    depends_on:
      - db

  db:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: catalog_db
    ports:
      - "5444:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
